@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

:root{
    --purple: hsl(257, 40%, 49%);
    --pink: hsl(300, 69%, 71%)
}

body{
    margin: 3rem 3rem;
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--purple);
}

header img{
    width: 11rem;
}

main{
    text-align: center;
    padding-top: 4rem; 
    justify-content: center;
}

main img{
    width: 100%;
}

main .main-title{
    margin-top: 4rem; 
}

main .half-padding{
    margin-top: 2rem;
}

main button{
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.4);
    font-weight: 400;
    width: 100%;
    height: 3rem;
    border-radius: 2rem;
    border: none;
    color: var(--purple);
}

main button:hover{
    background-color: var(--pink);
    color: #fff;
}

.social-media-icons{
    margin: 4rem auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.icons-border{
    width: 2rem;
    height: 2rem;
    border: white 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.icons-border:nth-child(2) i{
    margin-left: 1px;
}

.icons-border:hover{
    border-color: var(--pink);
}

.icons-border:hover i{
    color: var(--pink);
}

@media (min-width: 1440px){
    body{
        background-image: url(./images/bg-desktop.svg);
        background-size: cover;
    }
    
    main{
        height: 100;
        gap: 2rem;
        display: flex;
        text-align: start;
        justify-content: center;
        padding: 0;
    }
    main img{
        width: 50%;
    }
    main button{
        width: 10rem;
    }
    main .social-media-icons{
        justify-content: end;
    }
}